{% extends "base.html" %}
{% block content %}
<script>
    const income = document.getElementById("income");
    const expense = document.getElementById("expense");
    const balance = document.getElementById("balance");

    fetch("/api/dashboard/summary/", {
        headers: {
            "Authorization": "Token " + localStorage.getItem("token")
        }
    })
    .then(res => res.json())
    .then(data => {
        income.innerText = data.total_income;
        expense.innerText = data.total_expense;
        balance.innerText = data.balance;
    })
    .catch(err => console.error(err));
</script>
{% endblock %}